{
  "env": {
    "node": {
      "plugins": [
        [
          "babel-plugin-transform-require-ignore", { "extensions": [".less", ".css"]}
        ]
      ]
    }
  },
    "presets": [
      "@babel/react",
      "@babel/typescript",
      [
        "@babel/env",
        {
          "modules": false,
          "targets": {
            "chrome": "58",
            "ie": "11"
          }
        }
      ]
    ]
  }