
.svz-pc-summary{
	cursor: pointer;
	position: relative;
	&div{
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */  
	}
}
.svz-pc-details-container{
	position: relative;
	overflow: hidden;
	transition: height 400ms ease;
	&.tr{
		position: relative;
		transition: line-height 400ms ease, height 400ms ease;
		td{
			overflow: hidden;
			padding: 5px;
			white-space: nowrap;
		}
		&:not(.open){
			height: 0;
			td{
				padding: 0 5px;
			}
		}
	}
}
.svz-pc-details{
	position: absolute;
}