
.svz-pc-summary{
	cursor: pointer;
	&div{
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */  
	}
}
.svz-pc-details-container{
	position: relative;
	overflow: hidden;
	transition: height 400ms ease;
}
tr.svz-pc-details-container{
	position: relative;
	transition: line-height 400ms ease;
	td{
		overflow: hidden;
	}
	&:not(.open){
		td{
			padding: 0;
		}
	}
}
.svz-pc-details{
	position: absolute;
}